body img { 
    float: right;
    margin-right: 100px;
    border: 5px solid #555 }

body img { 
    float: right;
    margin-right: 100px;
    border: 5px solid #555 }

  /*DEVELOPER: Jibrael Pirzada, IS117-101, Fall, 2021 */